.cart-logo-container {
  border-radius: 40px;
  min-height: 60px;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.cart-logo-container:active {
  transform: scale(0.9);
}

.cart-logo {
  width: 50px;
}

.quantity-bubble {
  background-color: rgb(224, 63, 0);
  color: white;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  position: relative;
  top: 0px;
  right: 0px;
  text-align: center;
}